{% extends "base.html" %}


{% block botoes_navbar %}
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{ url_for('main.home') }}" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{{ url_for('main.precos') }}" class="nav-link">Preço Novo</a></li>
        <li class="nav-item"><a href="{{ url_for('main.custos') }}" class="nav-link active">Custo SP</a></li>
        <li class="nav-item"><a href="{{ url_for('main.sobre') }}" class="nav-link">Sobre</a></li>
    </ul>
{% endblock botoes_navbar %}


{% block content %}

    <h4>Diferenças de Hoje</h4>
    <hr>

    <form id="formPlanilha" action="/custos_resultado" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <!-- Cabecalho do Form -->
            <label for="formFile" class="form-label">Extração dos custos em SP</label>
            
            <!-- Escolher ficheiro com botao apagar -->
            <div class="input-group">
                <input class="form-control" type="file" id="formFile" name="file" accept=".xlsx,.xls">
                <button class="btn btn-outline-secondary" type="reset">Apagar</button>
            </div>

        </div>
        
        <!-- Botão que dispara popover se nenhum arquivo selecionado -->
        <button type="submit" 
            class="btn btn-primary" 
            id="btnDiff" 
            data-bs-toggle="popover" 
            data-bs-trigger="manual" 
            data-bs-content="⚠️ Nenhum arquivo selecionado!"
            >
            Encontrar Diferenças
        </button>
    </form>

  
    <script>
        const btn = document.getElementById("btnDiff");
        const inputFile = document.getElementById("formFile");
        const popover = new bootstrap.Popover(btn);

        btn.addEventListener(
            "click", function(event) {
                if (!inputFile.value) {
                    event.preventDefault();  // cancela o envio do form
                    popover.show();          // mostra popover
                } else {
                    popover.hide();          // esconde popover se arquivo selecionado
                }
            }
        );
    </script>

{% endblock content %}
