{% extends "base.html" %}


{% block content %}

    <h4>Diferenças de Hoje</h4>
    <hr>

    <form id="formPlanilha" action="/custos_resultado" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <!-- Cabecalho do Form -->
            <label for="formFile" class="form-label">Extração dos custos em SP</label>
            
            <!-- Escolher ficheiro com botao apagar -->
            <div class="input-group">
                <input class="form-control" type="file" id="formFile" name="file" accept=".xlsx,.xls">
                <button class="btn btn-outline-secondary" type="reset">Apagar</button>
            </div>

        </div>
        
        <!-- Botão que dispara popover se nenhum arquivo selecionado -->
        <button type="submit" 
            class="btn btn-primary" 
            id="btnDiff" 
            data-bs-toggle="popover" 
            data-bs-trigger="manual" 
            data-bs-content="⚠️ Nenhum arquivo selecionado!"
            >
            Encontrar Diferenças
        </button>
    </form>

    <!-- Logs do sistema -->
    {% if mensagens %}
    <div class="accordion mt-5" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" 
                    type="button" 
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                    >
                    Mensagens do sistema:
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                        {% for msg in mensagens %}
                        <li class="list-group-item fs-6">
                            {{ msg }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Resultado aparece aqui -->
    {% if resultado %}
        <div class="container mt-5">
            <h4 class="mb-4">Lista de Preços</h4>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Produtos_vigente</th>
                        <th>R$_vigente</th>
                        <th>Produtos_novo</th>
                        <th>R$_novo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for linha in resultado %}
                    <tr>
                        <td>{{ linha['Codigo'] }}</td>
                        <td>{{ linha['Produtos_vigente'] }}</td>
                        <td>{{ linha['R$_vigente'] }}</td>
                        <td>{{ linha['Produtos_novo'] }}</td>
                        <td>{{ linha['R$_novo'] }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3" class="text-center">Nenhum dado disponível</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    
  
    <script>
        const btn = document.getElementById("btnDiff");
        const inputFile = document.getElementById("formFile");
        const popover = new bootstrap.Popover(btn);

        btn.addEventListener(
            "click", function(event) {
                if (!inputFile.value) {
                    event.preventDefault();  // cancela o envio do form
                    popover.show();          // mostra popover
                } else {
                    popover.hide();          // esconde popover se arquivo selecionado
                }
            }
        );
    </script>

{% endblock content %}
